<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 共通：ヘッダ領域 -->
<div id="header_outline" th:fragment="header">
	<div id="header">
		<div class="logo_cell" th:onclick="'location.href=\'' + @{/} + '\''">
			<div class="main_text"><span style="letter-spacing: 0.5em;">EC開発</span><br />研修セット</div>
			<div class="main_logo" th:style="'background-image:url(' + @{/images/logo/ecwindow_logo.png} + ');'"></div>
		</div>
		<!--/* 商品分類表示（スマートフォン） */-->
		<div id="item_category_dropdown">カテゴリから選ぶ<div class="arrow_icon">▼</div></div>
		<div id="item_category_dropdown_list">
			<form method="post" th:action="@{/search}" id="execSearchByCategory">
				<th:block th:each="itemCategory : ${itemCategoryList}">
					<div th:if="${#strings.equals(itemCategory.itemCategoryNum, '1')}"
						th:text="${itemCategory.itemCategory1Name}"
						class="item_category_name1"
						th:onclick="javascript:searchByCategory([[${itemCategory.itemCategory1Cd}]],'');"
					>
					</div>
					<div th:if="${#strings.equals(itemCategory.itemCategoryNum, '2')}"
						th:text="${itemCategory.itemCategory2Name}"
						class="item_category_name2"
						th:onclick="javascript:searchByCategory([[${itemCategory.itemCategory1Cd}]],[[${itemCategory.itemCategory2Cd}]]);"
					>
					</div>
				</th:block>
				<input type="hidden" id="hid_c1" name="c1" />
				<input type="hidden" id="hid_c2" name="c2" />
			</form>
		</div>
		<div class="search_cell">
			<div class="keyword_wrap">
				<form method="post" th:action="@{/search}" id="execSearch">
					<div class="search_icon" th:style="'background-image:url(' + @{/images/icon/search.png} + ');'"></div>
					<input type="text" id="keyword" name="k" th:value="${k}" maxlength="50" placeholder="キーワードを入力" />
					<div class="search_btn" onclick="javascript:search();">検索</div>
				</form>
			</div>
		</div>
		<div class="joint_cell"></div>
		<div class="last_cell">ログイン不要24時間商品検索し放題！<br>ぶらぶら散策ネットショッピングならECWINDOW</div>
	</div>
</div>

</html>