<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="icon" th:href="@{/favicon.ico}">
	<script th:src="@{/js/lib/jquery-3.6.0.js}"></script>
	<link th:href="@{/css/ecwpc.css}" rel="stylesheet" type="text/css" media="screen and (min-width: 768px)">
	<link th:href="@{/css/ecwsp.css}" rel="stylesheet" type="text/css" media="screen and (max-width: 767px)">
	<link th:href="@{/css/jquery.bxslider_pc.css}" rel="stylesheet" type="text/css" media="screen and (min-width: 768px)">
	<link th:href="@{/css/jquery.bxslider_sp.css}" rel="stylesheet" type="text/css" media="screen and (max-width: 767px)">

	<!--/* chromeでスライド画像をクリックすると発生するエラー解消のため一行追加済みのソースファイル */-->
	<script th:src="@{/js/lib/jquery.bxslider.js}"></script>
	<script th:src="@{/js/itemlist.js}"></script>
	<title>ECWINDOW</title>
</head>
<body>
	<!--/* ヘッダ領域 */-->
	<div id="header_outline" th:replace="common/header"></div>

	<!--/* コンテンツ領域 */-->
	<div id="main_content">

		<!--/* コンテンツ左 */-->
		<div class="content_left" th:replace="common/content_left"></div>

		<!--/* コンテンツ中央 */-->
		<div class="content_center">
			<!-- 詳細画面遷移用のform -->
			<form method="get" th:action="@{/detail}" th:id="execSlideDetail">
				<input type="hidden" id="hid_slide_cd" name="item_cd">
			</form>
			<div class="banner_area">
				<!-- bxslider導入部分 -->
				<div class="bxslider">
				  <div th:onclick="javascript:onClickSlide('1');"><img th:src="@{/images/slideBanner_1920x1080_01.png}"></div>
				  <div th:onclick="javascript:onClickSlide('2');"><img th:src="@{/images/slideBanner_1920x1080_02.png}"></div>
				  <div th:onclick="javascript:onClickSlide('3');"><img th:src="@{/images/slideBanner_1920x1080_03.png}"></div>
				</div>
			</div>
		</div>

		<!--/* コンテンツ右 */-->
		<div class="content_right" th:replace="common/content_right"></div>

	</div>
</body>
</html>